<html ng-app="angular.weatherApp">

<head>
    <title>Weather App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../app/css/weather.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="todo-wrapper" ng-controller="WeatherAppController">
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>{{weatherData.city.name}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <md-item ng-repeat="item in weatherData.list">
                            <md-item-content>
                                <div class="md-tile-content">
                                    <h3>{{item.dt|date:'dd/MM/yyyy'}}</h3>
                                    <h4>Temp :{{item.temp.day}}</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="bold">Pressure :</div>{{item.pressure}}
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="bold">Humidity :</div>{{item.humidity}}
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="bold">Weather:</div>{{item.weather[0].description}}
                                    </div>
                                </div>
                            </md-item-content>
                            <md-divider hide-gt-sm ng-if="!$last "></md-divider>
                        </md-item>
                    </div>
                </div>
            </div>
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js "></script>
        <script src="../bower_components/angular/angular.min.js "></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js "></script>
        <script src="../bower_components/restangular/dist/restangular.min.js "></script>
        <script src="../bower_components/angular-mocks/angular-mocks.js "></script>
        <script src="../bower_components/underscore/underscore-min.js "></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js "></script>
        <script src=" ../bower_components/angular-material/angular-material.min.js "></script>
        <script type="text/javascript " src="main.js "></script>
</body>

</html>